<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapper.java namespace -->
<mapper namespace="ClientDao">

    <!-- namespace -->
    <resultMap type="Client" id="ClientResultMap">
        <id column="id" property="id"/>
        <result property="name" column="name"/>
        <result property="login" column="login"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="type" column="type"/>
    </resultMap>

    <select id="getAllClient" resultMap="ClientResultMap">
        SELECT * FROM client
    </select>

    <delete id="deleteClientById" parameterType="int">
        DELETE FROM client WHERE ID = #{id}
    </delete>

    <insert id="insertOrder" parameterType="Client" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO client (name, login, password, email, type)
        VALUES(#{name}, #{login}, #{password}, #{email}, #{type})
    </insert>

    <update id='updateClient' parameterType='Client'>
        UPDATE client SET
        name = #{name},
        login = #{login},
        password = #{password},
        email = #{email},
        type = #{type}
        WHERE id = #{id}
    </update>

</mapper>